.main{
  width: 100vw;
  height: 100vh;
  background-color: var(--cerise-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  background-color: #c81d92;
  border-style: solid;
}

.fun_button {
  width: 200px;
  height: 50px;
  background-color: #c21717; /* Change to your desired background color */
  border: none;
  border-radius: 25px; /* Increase border-radius for a more rounded look */
  color: #fff; /* Text color */
  font-size: 18px; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert text to uppercase */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  overflow: visible;
}

.fun_button:hover {
  background-color: #ff4242; /* Change to your desired hover background color */
  --border-scale: 1.1;
}

.fun_button:active {
  --border-scale: 1;
}

.fun_button:before {
  content: "";
  position: absolute;
  inset: 0;
  border: solid;
  border-radius: 25px;
  /*min-height: 2vh;*/
  mask: conic-gradient(
    transparent 0deg 7deg,
    black 7deg 21deg,
    transparent 21deg 35deg,
    black 35deg 49deg,
    transparent 49deg 63deg,
    black 63deg 77deg,
    transparent 77deg 89deg,
    black 89deg 103deg,
    transparent 103deg 117deg,
    black 117deg 131deg,
    transparent 131deg 145deg,
    black 145deg 159deg,
    transparent 159deg 173deg,
    black 173deg 187deg,
    transparent 187deg 199deg,
    black 199deg 213deg,
    transparent 213deg 227deg,
    black 227deg 241deg,
    transparent 241deg 255deg,
    black 255deg 269deg,
    transparent 269deg 283deg,
    black 283deg 297deg,
    transparent 297deg 311deg,
    black 311deg 325deg,
    transparent 325deg 339deg,
    black 339deg 353deg,
    transparent 353deg
  );
  transform: scale(calc(var(--border-scale, 0) * 1));
  transition: transform 0.125s;
  
  /*z-index: -1;*/
}