.outer_container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    background-color: coral;
}

.login_container{
    width: 25vw;
    min-height: 5vh;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_container span{
    margin-bottom: 4vh; 
}

.login_container input{
    margin-bottom: 4vh; 
}

.login_container button {
    width: 200px;
    height: 50px;
    background-color: #007BFF; /* Background color */
    color: #fff; /* Text color */
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .login_container button:hover {
    background-color: #0056b3; /* Hover background color */
  }
  
  /* Optional: Add box shadow for a cool effect */
  .login_container button:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  