*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all ease-in-out 100ms;
}

button:hover {
  transform: scale(1.05); /* Add a slight scaling effect on hover */
}

button:active {
  transform: scale(0.85); /* Add a slight scaling effect on click */
}