* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all ease-in-out 100ms;

    /* Color Palette: */
    --cerise-light: #ec5f99;
    --cerise-regular: #e83d84;
    --cerise-strong: #ee2a7b;

    --off-white: #f7f7f7;
    --off-black: #212121;

    --metador-gray: #afafaf;
    --metador-yellow: #edc80f;
}

button:hover {
  transform: scale(1.05); /* Add a slight scaling effect on hover */
}

button:active {
  transform: scale(0.85); /* Add a slight scaling effect on click */
}
